<h2 class="section-title">{{ .titles.contact }}</h2>

<p>Please contact us by e-mail, Twitter, or Facebook.</p>

<p>
<a href="mailto:chairs-vriphys2019@eg.org">    
<span style="font-size: 28pt;">
  <span style="color: black;">
  <i class="fas fa-envelope-square"></i>
  </span>
</span>
</a>
<a href="https://twitter.com/VRIPHYS">    
<span style="font-size: 28pt;">
  <span style="color: black;">
  <i class="fab fa-twitter-square"></i>
  </span>
</span>
</a>
<a href="https://www.facebook.com/vriphys/">
<span style="font-size: 28pt;">
  <span style="color: black;">
  <i class="fab fa-facebook-square"></i>
  </span>
</span></a>
</p>
<!--
<form method="post" action="mailto:vriphys2019@gmail.com" id="form" class="form">
  <div class="control-group control-group-name">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Your name">
  </div>
  <div class="control-group control-group-email">
    <label for="email">E-mail</label>
  <input type="email" name="email" id="email" placeholder="Your e-mail">
  </div>
  <div class="control-group">
    <label for="message">Message</label>
  <textarea name="" id="message" cols="30" rows="10" placeholder="Your message"></textarea>
  </div>
  <input class="btn btn-send" type="submit" value="Send">
</form>

-->