<h2 class="section-title">{{ .titles.organization }}</h2>

<h4>Workshop chairs</h4>
<ul>
<li> Sheldon Andrews, &#201;cole de technologie supérieure, Canada </li>
<li> Kenny Erleben, University of Copenhagen, Denmark </li>
<li> Fabrice Jaillet, Université Lyon 1, France </li>
<li> Gabriel Zachmann, University of Bremen, Germany </li>
</ul>

<h4>International Paper Committee</h4>
<ul>
<li>Michel Audette, Old Dominion University </li>
<li>Adam Bargteil, University of Maryland Baltimore County </li>
<li>Fernando Bello, Imperial College London </li>
<li>Jan Bender, RWTH Aachen University </li>
<li>Beno&#238;t Crespin, Universit&#233; de Limoges </li>
<li>Hadrien Courtecuisse, CNRS Strasbourg </li>
<li>John Dingliana, Trinity College Dublin </li>
<li>Mihai Francu, University of Copenhagen </li>
<li>Marco Fratarcangeli, Chalmers University of Technology </li>
<li>Joachim Georgii, Fraunhofer Institute </li>
<li>Prashant Goswami, Blekinge Tekniska H&#246;gskola (BTH) </li>
<li>Takahiro Harada, AMD </li>
<li>Matthias Harders, Universität Innsbruck </li>
<li>Ben Kenwright, De Montfort University </li>
<li>Dan Koschier, University College London </li>
<li>Arjan Kuijper, TU Darmstadt </li>
<li>Miles Macklin, NVIDIA </li>
<li>Maud Marchal, University of Rennes, IRISA </li>
<li>Sarah Maria Niebe Abe, Alexandra Institute </li>
<li>Stephane Merillou, Universit&#233; de Limoges </li>
<li>Miguel Otaduy, Universidad Rey Juan Carlos (URJC) </li>
<li>Igor Peterlik, Inria Nancy </li>
<li>Isaac Rudomin, National Autonomous University of Mexico (UNAM) </li>
<li>Alessandro Tasora, University of Parma </li>
<li>Matthias Teschner, University of Freiburg </li>
<li>Bernhard Thomaszewski, Universit&#233; de Montr&#233;al </li>
<li>Rene Weller, University of Bremen </li>
<li>Hongyi Xu, Disney Research </li>
<li>Florence Zara, Universit&#233; Claude Bernard Lyon </li>
<li>Victor Zordan, Clemson University </li>

</ul>